/*******************************************************************************
    File:style.css
    Author:XuZhipei <xuzhipei@gmail.com>
    Date:  2012/1/19
*******************************************************************************/
*{padding:0;margin: 0;}
body{font-family:微软雅黑,Arial, Helvetica, sans-serif;background: #F8FBFD;z-index: 0;}
.clear{clear:both;}
.floatleft{float: left;}
.floatright{float: right;}
a{text-decoration: none;color: #0059F6;}
a:visited{text-decoration: none;color: #0059F6;}
a:hover{text-decoration:underline;}

#note {position: absolute;z-index: 6001; top: 0; left: 0; right: 0; 
       background: #fde073;text-align: center; line-height: 2.5;overflow: hidden; 
       -webkit-box-shadow: 0 0 5px black; -moz-box-shadow:0 0 5px black; box-shadow:0 0 5px black;
}

#close {position: absolute; right: 10px;top: 9px; text-indent: -9999px;
        background: url(/img/close.png);height: 16px;width: 16px;cursor: pointer;
}

.button {
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 6px 30px;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 15px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
}
.button:hover {border-top-color: #28597a;background: #28597a;color: #ccc;}
.button:active { border-top-color: #1b435e; background: #1b435e;}
.avater{width: 80px;height: 80px;}
/*         分页          */
.pagination {margin: 10px 0;}
.pagination ul {list-style: none;}
.pagination .disabled{color: #999;}
.pagination .actived{background-color: #0059F6;}
.pagination li{padding: 5px;margin: 0 5px;float: left;color: white;background-color: white;}
.pagination li:hover{background-color: #0059F6;}

.title_name{font-size: 40px;color:white;padding-top: 45px;}
.header{height: 60px;}
.header .personal {margin: 10px;font-size: 25px;color: white;float: right;list-style: none;text-align: right;line-height: 38px;}
.header .personal a{text-decoration: none;}
.header .personal .login{background: url("images/login.png") top right no-repeat;padding-right: 32px;}
.header .personal .reg,
.header .personal .reg:hover,
.header .personal .reg:visited{background-color: blue;color: white;padding: 10px;
-moz-border-radius-topleft: 0px;
-moz-border-radius-topright: 0px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
-webkit-border-radius: 0px 0px 10px 10px;
border-radius: 0px 0px 10px 10px;
-webkit-box-shadow: 2px 2px 10px 5px #999;
-moz-box-shadow: 2px 2px 10px 5px #999;
box-shadow: 2px 2px 10px 5px #999;}

.header .personal .msgs .icon{float: left;width: 32px;height: 32px;margin: 3px;color: white;}
.header .personal .msgs .icon span{background: url("images/new_msg.png") center left no-repeat;font-size: 10px;padding: 0 4px;}
.header .personal .msgs .info{background: url("images/info.png") center left no-repeat;}
.header .personal .msgs .req{background: url("images/req.png") center left no-repeat;}
.header .personal .msgs .bell{background: url("images/bell.png") center left no-repeat;}

.header .personal .msgs .logout{background: url("images/logout.png") top right no-repeat;padding-right: 32px;margin-left: 10px;}
.header .personal .msgs .profile{float: left;margin-right: 10px;}

.main{font-size: 16px;min-height: 400px;margin: 10px 0}
.container{width: 960px;margin:0px auto;}

.search .search_area input[type="text"]{width: 400px;height: 40px;font-size: 25px;margin: 10px 0;}
.search .search_area input[type="submit"]{font-size: 25px;margin: 10px 0;}
/*--------------------footer-------------*/
.footer{height: 300px;background: #333;}
.footer .boxes{width: 960px;margin: 0 auto;}
.footer .box {float: left;border-left: dashed #999 1px;width: 200px;padding: 20px 0 0 20px;}
.footer .box ul{color: #999;padding: 10px 0 0 20px;}
.footer .box ul li{padding: 2px 0;}
.footer .box h3{color: #999;}
.footer a{color: #999;}
.footer a:visited{color: #999;}
.footer a:hover{color: #CCC;}

.avater_area{margin: 10px 0;}

.normal_form{font-size: 20px;margin: 20px 0;}
.normal_form .element input[type="text"],
.normal_form .element input[type="password"]{height: 30px;width: 400px;font-size: 20px;margin: 14px 0;color: #666;}
.normal_form .element input[type="radio"]{margin: 14px 20px;}
.normal_form .element .disabled{margin: 6px 0;color: #999;}
.normal_form .element .tag_list{list-style:disc;}
.normal_form .element .tag_list li{margin-left: 50px;}
.normal_form .submit{margin: 14px 0;}
.normal_form .submit input{font-size: 20px;}

.zend_form{font-size: 40px;}
.zend_form .element{margin: 10px 0;padding: auto 0;line-height: 49px;}
.zend_form .label{float: left;width: 140px;margin: 12px 0;}
.zend_form .element input[type="text"],
.zend_form .element input[type="password"]{height: 50px;width: 400px;font-size: 40px;margin: 14px 0;color: #666;}
.zend_form .code{margin: 10px 0;padding: auto 0;line-height: 49px;}
.zend_form .code .img{margin: 11px 5px;float: left;}
.zend_form .code input[type="text"]{height: 50px;width: 209px;font-size: 40px;margin: 14px 0;color: #666;}
.zend_form .submit{margin: 14px 0;}
.zend_form .submit input{font-size: 40px;}

.proflie img {width: 100px;height: 100px;}
.my_friend img {width: 80px;height: 80px;}

.search{margin: 10px 0;}
.searchoutcome{margin: 40px 0;}

.goods_detail{margin: 10px 0;}
.goods_detail img{width: 180px;height: 180px;}
.goods_detail .left{float: left;width: 180px;}

.goods_exchange_detail{margin: 20px 0;font-size: 25px;}
.goods_exchange_form .submit{font-size: 20px;margin: 10px 0;} 
.goods_box{width: 450px;height: 450px;border: 1px blue solid;}
.goods_box ul{list-style: decimal;margin-left: 40px;}
.goods_box ul li{margin: 5px 0;font-size: 20px;}
.button_box input{margin: 10px;font-size: 25px;}

.show_goods{height: 5px;background-color: #999;margin: 10px 0;overflow-y: scroll;}
.show_goods .animate{background-color: black;width: 0;height: 5px;}
.show_goods .detail{color: white;}
.show_goods .detail .left{font-size: 22px;margin: 10px 0 10px 20px;border-bottom: white 2px inset;width: 160px;}
.show_goods .detail .right{margin-left: 30px;}
.show_goods .detail img{width: 180px;height: 180px;}

.goods_container{width: 960px;}
.goods_container .col{float: left;width: 210px;margin: 0 15px;}
.goods_container .box{width: 210px;color: white;margin: 10px 0;min-height: 215px;padding: 5px;}
.goods_container .box .pic img{width: 210px;height: 210px;}
.goods_container .box .text{font-size: 15px;}
.goods_container .box .text .small_pic img{width: 50px;height: 50px;}
.goods_container .box .pic .bottom{background-color: #999;}
.goods_container .box .pic .bottom .icon{float: left;height: 30px;width: 30px;}
.goods_container .box .pic .bottom .like{background: url("images/like.png") no-repeat top left;}
.goods_container .box .pic .bottom .like_red{background: url("images/like_red.png") no-repeat top left;}
.goods_container .box .pic .bottom .hate{background: url("images/hate.png") no-repeat top left;}
.goods_container .box .pic .bottom .detail{background: url("images/detail.png") no-repeat top left;}
.goods_container .box .pic .bottom .sale{background: url("images/sale.png") no-repeat top left;}
.goods_container .box .pic .bottom .exchange{background: url("images/exchange.png") no-repeat top left;}

.sale_request{margin: 10px 0;}
.sale_request ul{list-style: decimal;margin-left: 50px;}
.sale_request ul li{margin: 5px;}

.all_sale .unread{font-weight: bolder;}

.all_sale table {font: 85%;padding: 0; margin: 0; border-collapse: collapse; color: #333; background: #F3F5F7;border-bottom: 1px solid #EAECEE;}
.all_sale table th {background: #3A4856; padding: 15px 10px; color: #fff; text-align: center; font-weight: normal;}    
.all_sale table td {padding: 10px; background: url("td_back.gif") repeat-x; text-align: left;}
.all_sale table tr {background: #F3F5F7;}
.all_sale table tr.odd {background: #F0F2F4;}
.all_sale table tr:hover {background: #EAECEE; color: #111;}

.show_news .title{margin: 20px 0;text-align: center;}
.show_news .content{margin: 10px;}
.show_news .author{font-style: italic;text-align: right;}